.vscode/**
.vscode-test/**
node_modules/**
!node_modules/ag-psd/
!node_modules/ag-psd/**
!node_modules/pdfjs-dist/
!node_modules/pdfjs-dist/**
.git/**
.gitignore
README.md
HANDOFF_NEXT_SESSION.md
OPEN_VSX_LISTING_PRIVACY.md
coverage/**
*.log
